<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criar-pensamento" class="botao">Adicionar pensamento</button>
  </header>
  <ul class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos">
    <li *ngFor="let pensamento of listaPensamentos">
      <app-pensamento [pensamento]="pensamento"></app-pensamento>
    </li>
  </ul>
  <ng-template #semPensamentos>
    <div class="ff-inter sem-pensamentos">
      <p>Ainda não há pensamentos cadastrados!</p>
    </div>
  </ng-template>
</section>
